@font-face {
  font-family: 'CeraCY';
  src: local('☞Cera CY Bold'), local('CeraCY-Bold'),
      url('../fonts/CeraCY-Bold.woff2') format('woff2'),
      url('../fonts/CeraCY-Bold.woff') format('woff'),
      url('../fonts/CeraCY-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CeraCY';
  src: local('☞Cera CY Regular'), local('CeraCY-Regular'),
      url('../fonts/CeraCY-Regular.woff2') format('woff2'),
      url('../fonts/CeraCY-Regular.woff') format('woff'),
      url('../fonts/CeraCY-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mansalva';
  src: local('Mansalva Regular'), local('Mansalva-Regular'),
      url('../fonts/Mansalva-Regular.woff2') format('woff2'),
      url('../fonts/Mansalva-Regular.woff') format('woff'),
      url('../fonts/Mansalva-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

