body {
  background-color: $main-bg;
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: calc(100% - 20px);
  margin: 0 auto;

  @media (min-width: $md) {
    width: calc(100% - 40px);
  }

  @media (min-width: $xl) {
    width: calc(100% - 80px);
  }
}