$white:           #ffffff;
$main-bg: #E0FFFF;
$black: #000;
$font-family:         'CeraCY', sans-serif;
$main-fz:             10px;

// grid-breakpoints
$xs:            490px;
$sm:            768px;
$md:            960px;
$xl:            1200px; // 75
$xxl:           1600px; // 100
