$white:           #ffffff;
$main-bg: #E0FFFF;
$black: #000;
$card-header: #98FB98;
$trs: transparent;
$font-family:         'OpenSans', sans-serif;
$main-fz:             10px;

// grid-breakpoints
$xs:            490px;
$sm:            768px;
$md:            960px;
$lg:             1024px;
$xl:            1200px; // 75
$xxl:           1400px; // 100
