.main-card {
  width: 100%;
  border: 3px solid $black;
  margin-bottom: 10px;

  @media (min-width: $md) {
    margin-bottom: 30px;
  }

  & ul {
    padding-left: 20px;
  }

  &.hide {
    display: none;
  }

  & p {
    margin: 0;
  }

  &__header {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: $card-header;

    @media (min-width: $lg) {
      border-bottom: 3px solid $black;
    }

    &.active {
      border-bottom: 3px solid $black;
    }

    &.active + .main-card__body {
      transition: all 0.4s;
      display: block;
    }
  }

  &__title {
    font-size: 30px;
    margin: 0;
    font-family: 'Mansalva', sans-serif;
  }

  &__body {
    padding: 20px;
    display: none;
    line-height: 30px;
    word-break: break-word;
    font-size: 16px;
    margin: 0;

    @media (min-width: $lg) {
      display: block;
    }
  }
}