<link rel="shortcut icon" href="img/favicons/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
<link rel="manifest" href="img/favicons/manifest.json">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#020307">
<meta name="application-name" content="Karfidov lab">
<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Karfidov lab">
<meta name="msapplication-TileColor" content="#020307">
<meta name="msapplication-TileImage" content="img/favicons/mstile-150x150.png">
<meta name="msapplication-config" content="img/favicons/browserconfig.xml">
